In [1]:
import numpy as np
import pandas as pd

In [2]:
db=pd.DataFrame({"Drugname":['Viagara','Paracetamol','Carbon'],'Selling price':[100.50,36,26],'commission %':[10,5,2]})

In [8]:
db["net commission"]= db["commission %"]*db["Selling price"]/100

In [9]:
db

      Drugname  Selling price  commission %  net commission
0      Viagara          100.5            10           10.05
1  Paracetamol           36.0             5            1.80
2       Carbon           26.0             2            0.52